@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root{
    --baseBackground:yellowgreen;
    --baseSize:1rem;
}

.widget-nav{
    float:left;
    font-size: var(--baseSize);
}

.widget-nav__item{
    & a{
        color: var(--baseBackground);
    }
}

.widget-nav--active{
    color: aqua;
}

:--heading {
    margin-block: 0;
}

